<script>
  function displayModel(model) {
    var $model_container = $(".user_model").empty();   
    
    if (model["word_count_message"] !== undefined) {
      $("<div>").append(model["word_count_message"]).append("<br>").appendTo($model_container);  
    }
           
    for (var i in model["tree"]["children"]) {
      var major_category = model["tree"]["children"][i];
      $("<center>").append($("<h2>").append(major_category["name"])).appendTo($model_container);
            
      var $table = $("<table>").addClass("um");
      $table.append("<tr><th>Value</th><th>Watson Score</th></tr>");
      
      for (var j in major_category["children"]) {
        var sub_category = major_category["children"][j];
                              
        for (var k in sub_category["children"]) {
          var sub_sub_category = sub_category["children"][k];
        
          var $row = $("<tr>");
            
          if (sub_sub_category["percentage"] > 0.8) {
            $row.addClass("interesting");
          }
          
          var $name = $("<td>").append(sub_sub_category["name"]);
          var $score = $("<td>").append((sub_sub_category["percentage"] * 100).toFixed(3));
          
          $row.append($name).append($score);
          $table.append($row);
        }
      }    

      $model_container.append($table).append("<br>");
    }
  }
  
  
  $(function() {
    $(".go").click(function() {
      $(".watson-status").show();
      
      // Determine the correct URL for your personality insights server side code
      // and update the URL here. If you're using App Builder endpoints and following
      // along with the GitHub docs, this URL should work.
      var endpoint = "/AppBuilder/endpoint/personality_insights_twitter";
      var handle = $("input[name='handle']").val();
           
      $.ajax({
        type: "POST",
        url: endpoint,
        data: { "handle" : handle },
        success: function(response) {
          response = JSON.parse(response);
          displayModel(response);
          $(".watson-status").hide();
        },
          failure: function(error) {
            console.log(error);
            $(".user_model").empty().append(error);
            $(".watson-status").hide();
          }
        });
      
    });
  });
  
  
</script>




<span>Twitter Handle:</span> <input type="text" name="handle" value="IBMWatson" />
<input type="submit" value="Generate Insights!" class="go">
<div class="watson-status" style="display:none;">Asking Watson...</div>


<div class="user_model"></div>


<style>

table.um
{
  border: 1px solid black;
  width: 100%;
  margin: 5px;
}

table.um tr, table.um td, table.um th
{
  border: 1px solid black;
  text-align: cetner;
  padding: 3px;
}

.interesting
{
  background-color: rgba(145,185,121,0.5);
}


</style>